---
import Head from "../components/Head.astro";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import { SITE } from "../config";
import FaqIntro from "../components/FaqIntro.astro";
import FaqEntry from "../components/FaqEntry.astro";

let { title } = SITE;
let description = "Custom-made designs made simple";
let permalink = "https://www.vistapeople.net/";

let allFaq = await Astro.glob("./content/faq/*.md");
allFaq = allFaq.sort(
  (a, b) =>
    new Date(b.frontmatter.publishDate).valueOf() -
    new Date(a.frontmatter.publishDate).valueOf()
);

console.log("check faq", allFaq);

let allNavBar = await Astro.glob("./content/navigationbar/*.md");
allNavBar = allNavBar.sort(
  (a, b) =>
    new Date(b.frontmatter.publishDate).valueOf() -
    new Date(a.frontmatter.publishDate).valueOf()
);

let allFaqEntry = await Astro.glob("./content/faqentry/*.md");
allFaqEntry = allFaqEntry.sort(
  (a, b) =>
    new Date(b.frontmatter.publishDate).valueOf() -
    new Date(a.frontmatter.publishDate).valueOf()
);

console.log("check accommodation", allFaqEntry);
---

<html lang="en">
  <head>
    <Head {title} {description} {permalink} />
  </head>

  <body>
    <div class="ml-[auto] mr-[auto] w-full max-w-[65em] pl-[2rem] pr-[2rem]">
      {allNavBar.map((p) => <Nav post={p} />)}
    </div>
    <div class="ml-[auto] mr-[auto] w-full max-w-[65em] pl-[2rem] pr-[2rem]">
      <main>
        <section class="bg-white dark:bg-gray-900">
          <FaqIntro post={allFaq[0]} />
        </section>
      </main>
    </div>
    <section class="w-full h-screen">
      <img
        src="https://placehold.co/600x400?text=FAQ"
        class="object-cover w-full h-full animation"
        alt="FAQ"
      />
    </section>
    <div class="ml-[auto] mr-[auto] w-full max-w-[65em] pl-[2rem] pr-[2rem]">
      <main>
        <section class="bg-white dark:bg-gray-900">
          <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16">
            <ol>
              {allFaqEntry.map((p) => <FaqEntry post={p} />)}
            </ol>
          </div>
        </section>
      </main>
    </div>

    <section class="w-full h-full">
      <img
        src="https://placehold.co/600x400?text=Footer+Image"
        class="object-cover w-full animation"
        alt="Wood Work"
      />
    </section>
    <Footer />
    <style>
      .animation {
        opacity: 0;
        transition: all 0.7s ease-out;
        transition-delay: 0.4s;
      }

      .scroll-animation {
        opacity: 1;
        transform: translateX(0);
      }
    </style>
    <script>
      const the_animation = document.querySelectorAll(".animation");

      const observer = new IntersectionObserver(
        (entries) => {
          entries.forEach((entry) => {
            if (entry.isIntersecting) {
              entry.target.classList.add("scroll-animation");
            } else {
              entry.target.classList.remove("scroll-animation");
            }
          });
        },
        { threshold: 0.1 }
      );
      //
      for (let i = 0; i < the_animation.length; i++) {
        const elements = the_animation[i];

        observer.observe(elements);
      }
    </script>
  </body>
</html>
