---
import Head from "../components/Head.astro";

import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import { SITE } from "../config";

import GalleryPreview from "../components/GalleryPreview.astro";
import GalleryFavorite from "../components/GalleryFavorite.astro";

let { title } = SITE;
let description = "Custom-made designs made simple";
let permalink = "https://chipchop.nl/";

let allPosts = await Astro.glob("./posts/*.md");
allPosts = allPosts.sort(
  (a, b) =>
    new Date(b.frontmatter.publishDate).valueOf() -
    new Date(a.frontmatter.publishDate).valueOf()
);

console.log("check data", allPosts);
---

<html lang="en">
  <head>
    <Head {title} {description} {permalink} />
  </head>

  <body>
    <div class="ml-[auto] mr-[auto] w-full max-w-[65em] pl-[2rem] pr-[2rem]">
      <Nav />
      <section class="grid grid-cols-1 md:grid-cols-3 mt-10">
        {allPosts.map((p) => <GalleryFavorite post={p} />)}
      </section>
      <h1
        class="mb-4 text-5xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-5xl dark:text-white font-pathway-gothic-one mt-10"
      >
        PROJECTS
      </h1>
      <section class="grid grid-cols-1 md:grid-cols-3">
        {allPosts.map((p) => <GalleryPreview post={p} />)}
      </section>
      <Footer />
    </div>
  </body>
</html>
