---
import Head from "../components/Head.astro";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import { SITE } from "../config";

import RSVPIntro from "../components/RSVPIntro.astro";
import RSVPHero from "../components/RSVPHero.astro";
import RSVPFooter from "../components/RSVPFooter.astro";

let { title } = SITE;
let description = "Custom-made designs made simple";
let permalink = "https://www.vistapeople.net/";

let allRSVP = await Astro.glob("./content/rsvp/*.md");
allRSVP = allRSVP.sort(
  (a, b) =>
    new Date(b.frontmatter.publishDate).valueOf() -
    new Date(a.frontmatter.publishDate).valueOf()
);

let allNavBar = await Astro.glob("./content/navigationbar/*.md");
allNavBar = allNavBar.sort(
  (a, b) =>
    new Date(b.frontmatter.publishDate).valueOf() -
    new Date(a.frontmatter.publishDate).valueOf()
);
---

<html lang="en">
  <head>
    <Head {title} {description} {permalink} />
  </head>

  <body>
    <div class="ml-[auto] mr-[auto] w-full max-w-[65em] pl-[2rem] pr-[2rem]">
      {allNavBar.map((p) => <Nav post={p} />)}
    </div>
    <div class="ml-[auto] mr-[auto] w-full max-w-[65em] pl-[2rem] pr-[2rem]">
      <main>
        <section class="bg-white dark:bg-gray-900">
          <RSVPIntro post={allRSVP[0]} />
        </section>
      </main>
    </div>
    <section class="w-full h-screen">
      <RSVPHero post={allRSVP[0]} />
    </section>
    <div class="ml-[auto] mr-[auto] w-full max-w-[65em] pl-[2rem] pr-[2rem]">
      <main>
        <section class="bg-white dark:bg-gray-900">
          <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16">
            <ol>
              <li class="mb-10 ml-4">
                <div
                  class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
                >
                </div>
                <div class="flex justify-center">
                  <div
                    class="flex items-center content-center align-center text-gray-500 dark:text-gray-400 font-bold text-2xl justify-center w-72 h-14 bg-[#ebccca] rounded-md mb-5 mt-5 animation"
                  >
                    MORE
                  </div>
                </div>
                <p
                  class="mb-4 text-base font-normal text-xl text-gray-500 dark:text-gray-400 animation"
                >
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Harum, dolor!
                </p>
              </li>
              <li class="mb-10 ml-4">
                <div
                  class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
                >
                </div>
                <div class="flex justify-center">
                  <div
                    class="flex items-center content-center align-center text-gray-500 dark:text-gray-400 font-bold text-2xl justify-center w-72 h-14 bg-[#ebccca] rounded-md mb-5 mt-5 animation"
                  >
                    MORE
                  </div>
                </div>
                <p
                  class="mb-4 text-base font-normal text-xl text-gray-500 dark:text-gray-400 animation"
                >
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Harum, dolor!
                </p>
              </li>
              <li class="mb-10 ml-4">
                <div
                  class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
                >
                </div>
                <div class="flex justify-center">
                  <div
                    class="flex items-center content-center align-center text-gray-500 dark:text-gray-400 font-bold text-2xl justify-center w-72 h-14 bg-[#ebccca] rounded-md mb-5 mt-5 animation"
                  >
                    MORE
                  </div>
                </div>
                <p
                  class="mb-4 text-base font-normal text-xl text-gray-500 dark:text-gray-400 animation"
                >
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Harum, dolor!
                </p>
              </li>
              <li class="mb-10 ml-4">
                <div
                  class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
                >
                </div>
                <div class="flex justify-center">
                  <div
                    class="flex items-center content-center align-center text-gray-500 dark:text-gray-400 font-bold text-2xl justify-center w-72 h-14 bg-[#ebccca] rounded-md mb-5 mt-5 animation"
                  >
                    MORE
                  </div>
                </div>
                <p
                  class="mb-4 text-base font-normal text-xl text-gray-500 dark:text-gray-400 animation"
                >
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Harum, dolor!
                </p>
              </li>
              <li class="mb-10 ml-4">
                <div
                  class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
                >
                </div>
                <div class="flex justify-center">
                  <div
                    class="flex items-center content-center align-center text-gray-500 dark:text-gray-400 font-bold text-2xl justify-center w-72 h-14 bg-[#ebccca] rounded-md mb-5 mt-5 animation"
                  >
                    MORE
                  </div>
                </div>
                <p
                  class="mb-4 text-base font-normal text-xl text-gray-500 dark:text-gray-400 animation"
                >
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Harum, dolor!
                </p>
              </li>
              <li class="mb-10 ml-4">
                <div
                  class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
                >
                </div>
                <div class="flex justify-center">
                  <div
                    class="flex items-center content-center align-center text-gray-500 dark:text-gray-400 font-bold text-2xl justify-center w-72 h-14 bg-[#ebccca] rounded-md mb-5 mt-5 animation"
                  >
                    MORE
                  </div>
                </div>
                <p
                  class="mb-4 text-base font-normal text-xl text-gray-500 dark:text-gray-400 animation"
                >
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Harum, dolor!
                </p>
              </li>
            </ol>
          </div>
        </section>
      </main>
    </div>

    <section class="w-full h-full">
      <RSVPFooter post={allRSVP[0]} />
    </section>
    <Footer />
    <style>
      .animation {
        opacity: 0;
        transition: all 0.7s ease-out;
        transition-delay: 0.4s;
      }

      .scroll-animation {
        opacity: 1;
        transform: translateX(0);
      }
    </style>
    <script>
      const the_animation = document.querySelectorAll(".animation");

      const observer = new IntersectionObserver(
        (entries) => {
          entries.forEach((entry) => {
            if (entry.isIntersecting) {
              entry.target.classList.add("scroll-animation");
            } else {
              entry.target.classList.remove("scroll-animation");
            }
          });
        },
        { threshold: 0.1 }
      );
      //
      for (let i = 0; i < the_animation.length; i++) {
        const elements = the_animation[i];

        observer.observe(elements);
      }
    </script>
  </body>
</html>
